<nav>
  <ul>
    <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Ladder</a></li>
    <li><a class="<%= path === '/add-player' ? 'active' : '' %>" href="/add-player">Add Player</a></li>
    <!-- <li><a href="#">Edit Player</a></li>
    <li><a href="#">Remove Player</a></li> -->
  </ul>
</nav>