form {
  margin: 0 0;
  padding: 16px 16px;
  width: 25vw;
  background-color: #5a0bb4;
  color: #f2f2f2;
}
form .form-input {
  padding: 8px 12px;
}
form .form-input label {
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}
input[type="text"] {
  padding: 8px 4px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
input[type="text"]:focus {
  outline: solid;
  outline-color: #0bb460;
}
input[type="submit"] {
  padding: 12px 16px;
  background-color: #f2f2f2;
  border: 1px solid #5a0bb4;
  color: #5a0bb4;
  cursor: pointer;
  margin: 12px auto;
  text-transform: capitalize;
  font-size: 14px;
}
input[type="submit"]:hover {
  background-color: #0bb460;
  color: #f2f2f2;
}